asgiref
Django
django-cors-headers
djangorestframework
gunicorn
pytz
sqlparse
drf-yasg
docutils
djangorestframework
pytest-django
djangorestframework-simplejwt 
social-auth-app-django
google-auth 
google-auth-oauthlib